# Base.
NODE_ENV=development
SESSION_SECRET="SESSION_SECRET"
ENCRYPTION_SECRET="ENCRYPTION_SECRET"

# Environment variables declared in this file are automatically made available to Prisma.
# More details: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

# Clerk
CLERK_FRONTEND_API="<CLERK_FRONTEND_API>"
CLERK_API_KEY="<CLERK_API_KEY>"
CLERK_JWT_KEY="<CLERK_JWT_KEY>"
