# We don't need lockfiles in our stacks,
# as people could use a different package manager.
# package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-lock.yml

# Errors
*.log

node_modules

# Editor Configs.
.idea
.vscode
.DS_Store

/.cache
/build
/server-build
/public/build

# Tests.
/test-results/
/tests/auth-storage.json
/playwright-report/
/playwright/.cache/

# Prisma.
/prisma/data.db
/prisma/data.db-journal

# Docker PostgreSQL.
postgres-data
redis-data

# Tailwind CSS.
# /app/styles/tailwind.css

/coverage
tsconfig.tsbuildinfo

/app/styles/**/*.css
other/postcss.ignored

*.local.*

.env
.env.production
.envrc
/test-results/
/playwright-report/
/playwright/.cache/

*.conf
