@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

// Variables
$generic-box-shadow: rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 0px 4px 11px;
$generic-border: 1px solid #eeeeee;
$generic-bg: #eb5e28;
$darkmode-header: #242423;
$backgroundColor: #ffffff;
$backgroundAccent: #fafafa;

$blackColor: #333533;

$sidebar-1x-width: 240px;
$header-height: calc(#{$sidebar-1x-width} / 4);

// General Settings
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  color: $blackColor;
  font-smooth: always;
  font-size: 16px;
  background-color: $backgroundColor;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
}

// MIXINS

@mixin box-overlay() {
  box-shadow: $generic-box-shadow;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 85px;
  border-radius: 3px;
}

@mixin va($va-align: center) {
  display: flex;
  align-items: center;

  @if $va-align != center {
    justify-content: left;
  } @else {
    justify-content: center;
  }
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin btn($width) {
  width: $width;
  background-color: $generic-bg;
  color: #fff !important;
  border: 1px solid transparent;
  margin: 10px 5px 0 0;
  font-weight: 500;
  font-size: 0.8125rem !important;
  line-height: 1.0625rem;
  padding: 6px 10px 7px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  border-radius: 3px !important;
  text-decoration: none !important;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: lighten($generic-bg, 10%);
  }
}

@mixin cancel() {
  color: #555;
  cursor: pointer;
  font-size: 0.875rem;
  margin: 2px 5px;
  &:hover {
    color: lighten(#555, 25%);
  }
}

@mixin note-item() {
  list-style-type: none;
  display: flex;
  line-height: 1.125rem;
  color: #333;
  padding: 10px 0 10px 10px;
  font-size: 0.875rem;
  list-style-type: none;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;

  &:hover {
    background-color: #f9f9f9;
  }
}

@mixin mq($from) {
  @media (max-width: $from) {
    @content;
  }
}

@mixin mqh($from) {
  @media (max-height: $from) {
    @content;
  }
}

// DARK MODE

.darkmode {
  header {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    background-color: $darkmode-header;
    border-color: transparent;
  }
}

.App {
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
  header {
    background-color: $backgroundColor;
    transition: height 200ms ease-in;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    height: $header-height;
    z-index: 400;
    position: relative;
    top: 0;
    width: 100%;

    @include mq('420px') {
      padding: 0 10px;
      nav div {
        padding: 0 !important;
      }
    }

    nav {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      margin: auto;
      max-width: 100%;
      height: 100%;

      p,
      li {
        color: $blackColor;
      }
      div {
        &.logo {
          padding-left: 1rem;
          grid-area: 1/1;
          display: flex;
          align-items: center;

          img {
            cursor: pointer;
            width: 30px;
            filter: invert(1);
          }
        }

        &.settings {
          padding-right: 1rem;
          grid-area: 1/2;
          text-align: right;

          ul {
            float: right;

            li {
              @include va;

              list-style-type: none;
              cursor: pointer;
              width: 40px;
              height: 40px;
              text-align: center;
              vertical-align: middle;
              float: left;

              &:hover {
                border-radius: 3px;
                background-color: lighten($blackColor, 70%);
              }

              &.settings__add {
                margin-right: 0.25rem;
                font-size: 2rem;
              }

              &.settings__darkmode svg {
                width: auto;
                height: 1.2rem;
              }
            }
          }
        }
      }
    }
  }
  section {
    display: flex;
    flex: 1;
    // Sidebar Left
    .sidebarLeft,
    .sidebarRight {
      @include no-select();
      // height: auto;
      padding: 1rem 0;
      position: relative;
      overflow-x: hidden;
      overflow-y: hidden;
      background-color: $backgroundAccent;
      display: flex;
    }

    .sidebarLeft {
      width: $sidebar-1x-width;
      border-right: $generic-border;
      justify-content: space-between;
      flex-direction: column;
      // height: calc(100% - #{$header-height});
      @include mq('900px') {
        width: $sidebar-1x-width / 3;
        li {
          padding: 10px 10px !important;
          justify-content: center;
          span:first-of-type {
            margin-right: 0 !important;
          }
          span:last-of-type {
            display: none;
          }
        }
        &__bottom {
          padding: 0 !important;
          width: auto !important;
          li {
            padding: 10px 10px !important;
            margin-bottom: 0 !important;
          }
        }
      }

      @include mq('420px') {
        width: $sidebar-1x-width / 4;
      }

      @include mqh('420px') {
        &__bottom {
          display: none;
        }
      }

      li {
        &:hover .sidebar__board-delete {
          display: block;
        }
      }

      &__bottom,
      &__generic {
        width: 80%;
        margin: 0 auto;
        li {
          display: flex;
          align-items: center;
          padding: 15px 22.5px;
          list-style-type: none;
          color: lighten($blackColor, 40%);
          cursor: pointer;
          line-height: 24px;
          font-size: 1.2rem;
          font-weight: 400;
          position: relative;
          margin-bottom: 0.25rem;
          span:first-of-type {
            display: flex;
            vertical-align: middle;
            margin-right: 0.75rem;
            svg {
              width: auto;
              height: 1.7rem;
              color: lighten($blackColor, 40%);
            }
          }
          &:hover {
            background-color: lighten($blackColor, 75%);
            border-radius: 50px !important;
          }
          &.active {
            span {
              font-weight: 500;
            }
            span,
            span svg {
              color: $blackColor;
            }
          }
        }
      }

      &__bottom {
        li {
          margin-bottom: 0 !important;
          width: 100%;
        }
      }
    }

    // Sidebar Right

    .sidebarRight {
      width: $sidebar-1x-width * 1.75;
      right: 0;
      border-left: $generic-border;
      align-items: center;
      flex-flow: column;
      .profile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        padding: 15px 22.5px 35px 0;
        border-bottom: $generic-border;
        &__name {
          font-family: 'Roboto', sans-serif;
          font-size: 1.25rem;
          // p,
          // h3 {
          // }
          p {
            margin: 0;
          }
          h3 {
            margin: 0.5rem 0 0 0;
            font-size: 2rem;
          }
        }
      }
      .inboardNotes {
        display: flex;
        align-items: center;
        width: 80%;
        h4 {
          font-family: 'Roboto', sans-serif;
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
    }
    // Notes

    .notes {
      display: flex;
      flex-grow: 1;
      padding: 15px 20px;
      flex-direction: column;
      margin: 0 auto;
      @include mq('1400px') {
        li {
          flex-shrink: 1;
        }
        li:first-of-type,
        li:nth-child(2n-1) {
          margin-left: 0;
        }
      }

      &__list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        flex-wrap: wrap;
        li:first-of-type {
          margin-left: 0;
        }
        li {
          display: flex;
          min-width: 250px;
          height: 200px;
          padding: 25px 20px;
          border-radius: 10px;
          background-color: #ffdb58;
          margin: 10px 10px;
        }

        // COLORS
        .yellow {
          background-color: #ffdb58;
        }

        .blue {
          background-color: #a8dadc;
        }
      }
    }
  }
}

// Add Task

.add-task {
}

// Add Board

.add-board {
  margin-top: 20px;
  &__input {
    margin-bottom: 20px;
  }
  &__name {
    width: 100%;
    border: 1px solid $blackColor;
    background-color: white !important;
    border-radius: 3px;
    height: 35px;
    padding: 0 10px;
  }
  &__submit {
    @include btn(5.8rem);
  }
  &__cancel {
    @include cancel();
    align-self: flex-end;
    margin-right: 0;
  }
  &__action-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px 22.5px;
    border-radius: 50px;
    &:hover {
      background-color: lighten($blackColor, 75%);
    }
  }
  &__plus {
    font-size: 1.5rem;
    color: $generic-bg;
  }
  &__text {
    display: inline-block;
    color: $blackColor;
    font-size: 1rem;
    margin-left: 15px;
  }
}
